.pill {
    padding-inline: 1.6vw;
    padding-block: 0.55vw;
    background-color: #FFFFFF;
    border-radius: 1.5vw;
    border: 1.2px solid #F1F1F1;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5F5F5F;
    margin-inline: 0.5vw;
    white-space: nowrap;
}
